@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
  }

:root {
  --primary-color: #a77ef8;
  --secondary-color: #25A6E9;
  --tertiary-color: #FFC26E;
  --text-color: #fff;
  --background-color: linear-gradient(to right, #07131e, #1a232c, #184c81);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  margin: 0;
  padding: 30px;
}

h1 {
    color: var(--tertiary-color);
}

h1, h2 {
  font-weight: bold;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}


.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  margin-right: 20px;
}

.navbar-left{
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  
}

.navbar-right{
    font-size: 2rem;  
  }

#navlink{
    margin-right:20px
}


.index-description{
    display: flex;
    flex-direction: column;
    width: 25%;
    position: absolute;
    top: 33%;
    left: 20%;

    

}
.hero{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 60px
}

.profile-image{
  width:80%;
  height:80%;
  object-fit:cover
}